.about__description {
    max-width: 600px;
    padding: 0px;  
}

@media screen and (max-width: 1024px) {
    .about__description {
        padding: 0;
    }
}

@media screen and (max-width: 640px) {
    .about__description {
        max-width: 290px;
        margin: 0 auto;
    }
}