.card__icon_save {
    position: absolute;
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    top: 24px;
    right: 24px;
    background-image: url(../../../images/save-icon/blue.svg);
}

.card__icon_save.card__icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .card__icon_save {
        top: 8px;
        right: 8px;
    }
}

@media screen and (max-width: 640px) {
    .card__icon_save {
        top: 27px;
        right: 27px;
    }
}