.card__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 0px;
}

@media screen and (max-width: 1024px) {
    .card__title {
        font-size: 22px;
        line-height: 24px;
        color: #1A1B22
    }
}

@media screen and (max-width: 640px) {
    .card__title {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
    }
}
