@import url('./_black/button_black.css');

.button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    text-align: center;
    height: 48px;
    padding: 12px;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .button {
        padding: 8px 12px;
    }
}