.footer__copyright {
    max-width: 435px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 0px 104px;
    color: #B6BCBF;
}

@media screen and (max-width: 1023px) {
    .footer__copyright {
        margin: 0 0 0 40px;
        padding: 5px 0px;
    }
}

@media screen and (max-width: 640px) {
    .footer__copyright{
        margin: 40px 16px 20px;
        padding: 0;
    }
}