<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Alexey Chernyshev">
    <meta name="description" content="Сайт поиска новостей">
    <title>News Project</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.second.css %>">
    <link rel="icon" href=".<%=require('../images/favicon.png').default%>">
</head>
<body>
    <div class="root">
        <header class="header_black root__section">
            <h1 class="header-title header-title_black">NewsExplorer</h1>
            <!-- Для просмотра мобильного меню добавить класс header-menu_mobile -->
            <nav class="header-menu">
                <a class="header-menu__main header-menu_black" href="../index.html">Главная</a>
                <!-- Для отображения ссылки сохраненых статей убрать класс header-menu_hide -->
                <a class="header-menu__saved active-button_black header-menu_black" href="./index.html">Сохранённые статьи</a>
                <button class="button button_black header-menu__button">
                    <span class="header-menu__auth header-menu_black">Грета</span>
                    <!-- Для отображения значка выхода убрать класс header-menu_hide -->
                    <img class="header-menu__unauth" src=".<%=require('../images/out_black.svg').default%>" alt="Выйти">
                </button>
            </nav>
            <div class="header-mobile"></div>
        </header>
        <div class="saved">
            <h3 class="saved__articles">Сохранённые статьи</h3>
            <h2 class="saved__info">Грета, у вас 5 сохранённых статей</h2>
            <p class="saved__keywords">По ключевым словам: <b>Природа, Тайга</b> и <b>2 другим</b></p>
        </div>
    <main class="content">
        <section class="results">
            <div class="results__cards-container">
                <div class="card">
                    <div class="card__delete"></div>
                    <p class="card__category">Природа</p>
                    <p class="card__save">Убрать из сохраненых</p>
                    <img class="card__img" src=".<%=require('../images/image_1.jpg').default%>" alt="Изображение карточки">
                    <div class="card__info">
                        <p class="card__date">2 августа, 2019</p>
                        <h2 class="card__title">Национальное достояние – парки</h2>
                        <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
                        <a class="card__source" href="https://lenta.ru/">Лента.ру</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__delete"></div>
                    <p class="card__category">Природа</p>
                    <p class="card__save">Убрать из сохраненых</p>
                    <img class="card__img" src=".<%=require('../images/image_2.png').default%>" alt="Изображение карточки">
                    <div class="card__info">
                        <p class="card__date">2 августа, 2019</p>
                        <h2 class="card__title">Лесные огоньки: история одной фотографии</h2>
                        <p class="card__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы запечатлеть ускользающую красоту одного из местных чудес природы.</p>
                        <a class="card__source" href="https://meduza.io/">Медуза</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__delete"></div>
                    <p class="card__category">Природа</p>
                    <p class="card__save">Убрать из сохраненых</p>
                    <img class="card__img" src=".<%=require('../images/image_3.png').default%>" alt="Изображение карточки">
                    <div class="card__info">
                        <p class="card__date">2 августа, 2019</p>
                        <h2 class="card__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h2>
                        <p class="card__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где12312312312312312</p>
                        <a class="card__source" href="https://ria.ru/">РИА</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__delete"></div>
                    <p class="card__category">Природа</p>
                    <p class="card__save">Убрать из сохраненых</p>
                    <img class="card__img" src=".<%=require('../images/image_3.png').default%>" alt="Изображение карточки">
                    <div class="card__info">
                        <p class="card__date">2 августа, 2019</p>
                        <h2 class="card__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h2>
                        <p class="card__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где12312312312312312</p>
                        <a class="card__source" href="https://ria.ru/">РИА</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__delete"></div>
                    <p class="card__category">Природа</p>
                    <p class="card__save">Убрать из сохраненых</p>
                    <img class="card__img" src=".<%=require('../images/image_3.png').default%>" alt="Изображение карточки">
                    <div class="card__info">
                        <p class="card__date">2 августа, 2019</p>
                        <h2 class="card__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h2>
                        <p class="card__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где12312312312312312</p>
                        <a class="card__source" href="https://ria.ru/">РИА</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p class="footer__copyright">&COPY; 2020 Supersite, Powered by News API</p>
        <nav class="footer__content">
            <a class="footer__content-main" href="../index.html">Главная</a>
            <a class="footer__content-ya" href="http://praktikum.yandex.ru">Яндекс.Практикум</a>
            <a href="https://github.com/f1tZy"><img class=footer__social-git src=".<%=require('../images/github.png').default%>" alt="github"></a>
            <a href="#"><img class=footer__social-facebook src=".<%=require('../images/fb.png').default%>" alt="facebook"></a>
        </nav>
    </footer>
</div>
<script src="<%= htmlWebpackPlugin.files.chunks.second.entry %>"></script>
</body>
</html>