.header-mobileblack {
    display: none;
}

@media screen and (max-width: 640px) {
    .header-mobileblack {
        display: flex;
        background-image: url(../../images/menuBlack.svg);
        min-width: 24px;
        min-height: 24px;
    }
}