.popup-custom__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .popup-custom__close {
    width: 26px;
    position: absolute;
    top: -45px;
    right: 15px;
    cursor: pointer;
  }
}