.about__photo {
    max-width: 464px;
    margin: 0px 56px 0px 0px;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .about__photo {
        width: 232px;
        height: 232px;
        margin: 60px 32px 20px 0px;
    }
}

@media screen and (max-width: 640px) {
    .about__photo {
        margin: 0px auto;
        width: 272px;
        height: 272px;
    }
}