.preloader__message {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    text-align: center;
    margin: 0 auto 80px;
    max-width: 300px;
}